body {
  background-image: url("../images/1.jpg");
  background-size: cover; /* <------ */
  /*background-repeat:   no-repeat;*/
  background-position: center center;
}

.bodynorepeat {
  background-image: url("../images/1.jpeg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.whitelogin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 550px;
  padding: 40px 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.whitelogin input[type="text"],
.whitelogin input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.linkdev {
  position: relative;
  height: 72px;
  top: 20px;
  border-radius: 10px;
  width: 876px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  left: 20px;
  padding: 22px 31px;
  margin-top: 20px;
}
.linkdev a {
  font-size: 32px;
  text-decoration: none;
  color: white;
}
.linkdev > .adev {
  height: 32px;
  position: relative;
  top: 20px;
  width: 850px;
  left: 20px;
}

.tbldev {
  position: relative;
  height: 120px;
  top: 0px;
  width: 876px;
  border-radius: 10px;
  background-color: rgba(0, 0, 50, 0.6);
  /*background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.0) 100%);*/
  left: 20px;
  padding: 0px 31px;
  margin-top: 20px;
}

.tbldev th {
  text-align: left;
  color: white;
  font-size: 42px;
}

.maindev {
  position: absolute;
  height: auto;
  top: 80px;
  border-radius: 10px;
  width: 976px;
  background-color: rgba(255, 255, 255, 0.2);
  /*background-image: -webkit-linear-gradient(0deg, rgba(138, 220, 250, 0.86) 0%, rgba(255, 255, 255, 0.1) 100%);*/
  /*left: 20px;*/
  padding: 50px 0px;
}

.logindev {
  position: absolute;
  height: 500px;
  top: 56px;
  border-radius: 10px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  /*background-image: -webkit-linear-gradient(0deg, rgba(138, 220, 250, 0.86) 0%, rgba(255, 255, 255, 0.1) 100%);*/
  /*left: 20px;*/
  padding: 50px 0px;
}
